{# Breadcrumbs Navigation Component #}
{% if page.url and page.url != '/' %}
<nav class="breadcrumbs" aria-label="ניווט מקום">
  <ol>
    <li><a href="{{ '/' | url }}">דף הבית</a></li>
    
    {% set urlParts = page.url.split('/') %}
    {% set isTextsPage = urlParts[1] == 'texts' %}
    {% set hasSource = urlParts[2] and urlParts[2] != '' %}
    {% set hasBook = urlParts[3] and urlParts[3] != '' %}
    {% set isSimpleChapterPage =
      isTextsPage and
      hasSource and
      hasBook and
      urlParts[4] and
      urlParts[4].startsWith('page-') and
      (not urlParts[5] or urlParts[5] == '')
    %}
    
    {# Texts path: /texts/[source]/[book]/... #}
    {% if isTextsPage %}
      <li><a href="{{ '/texts/' | url }}">לפי מקור</a></li>
      
      {% if hasSource %}
        {% set sourceKey = urlParts[2] %}
        {% set sourceHebrew = languages[sourceKey] or sourceKey %}
        {% if sourceHebrew == 'aramaic' %}{% set sourceHebrew = 'ארמית' %}{% endif %}
        <li><a href="{{ ('/texts/' + sourceKey + '/') | url }}">{{ sourceHebrew }}</a></li>
      {% endif %}
      
      {% if isSimpleChapterPage %}
        {% set bookUrl = '/texts/' + urlParts[2] + '/' + urlParts[3] + '/' %}
        {% set bookIntro = collections.all | findCollectionItemByUrl(bookUrl) %}
        {% set bookTitle = (bookIntro.data.title if bookIntro and bookIntro.data and bookIntro.data.title else urlParts[3]) | normalizeBookTitle %}
        <li><a href="{{ bookUrl | url }}">{{ bookTitle }}</a></li>
        <li class="breadcrumb-current">{{ title }}</li>
      {% elif hasBook and urlParts.length > 4 %}
        <li><a href="{{ page.url | url }}">{{ title }}</a></li>
      {% endif %}
    {% endif %}
    
    {# By-figure path: /by-figure/[figure]/ #}
    {% if urlParts[1] == 'by-figure' %}
      <li><a href="{{ '/by-figure/' | url }}">לפי ייחוס</a></li>
      
      {% if urlParts[2] and urlParts[2] != '' %}
        {% set figureKey = urlParts[2] %}
        {% set figureHebrew = figures[figureKey] or figureKey %}
        <li><a href="{{ ('/by-figure/' + figureKey + '/') | url }}">{{ figureHebrew }}</a></li>
      {% endif %}
    {% endif %}
    
    {# Other pages #}
    {% if not isTextsPage and urlParts[1] != 'by-figure' and page.url != '/' %}
      <li class="breadcrumb-current">{{ title }}</li>
    {% endif %}
  </ol>
</nav>
{% endif %}
