{% extends "base.njk" %}

{% block content %}
  <article class="text-main text-main--narrow">
    <header class="text-header">
      {% if eyebrow %}<p class="text-header__eyebrow">{{ eyebrow }}</p>{% endif %}
      <h1>{{ title }}</h1>
      {% if subtitle %}<p class="text-meta">{{ subtitle | safe }}</p>{% endif %}
    </header>
    <div class="text-content">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
