---
layout: base.njk
title: חיפוש בכתבים
permalink: /search/
---

<div class="text-main">
    <h1>חיפוש בכתבים</h1>
    <p>הקלד מונח חיפוש כדי למצוא טקסטים רלוונטיים בכתבים הגנוזים:</p>

    <div id="search"></div>
</div>

<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('load', () => {
        new PagefindUI({ 
            element: "#search",
            showImages: false,
            translations: {
                placeholder: "חפש בכתבים...",
                zero_results: "לא נמצאו תוצאות עבור [SEARCH_TERM]",
                many_results: "[COUNT] תוצאות עבור [SEARCH_TERM]",
                one_result: "תוצאה אחת עבור [SEARCH_TERM]",
                loading: "טוען...",
                search_label: "חיפוש",
                filters_label: "פילטרים",
                clear_search: "נקה חיפוש",
                load_more: "טען עוד תוצאות",
                search_html: "הצג תוצאות HTML",
                exact_search_label: "חיפוש מדויק",
                ellipsis: "...",
                not_found: "לא נמצא",
                direction: "rtl"
            }
        });
    });
</script>
