---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# Homepage #}
  <url>
    <loc>{{ site.origin }}{{ '/' | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>1.0</priority>
    <changefreq>monthly</changefreq>
  </url>
  
  {# Main navigation pages #}
  <url>
    <loc>{{ site.origin }}{{ '/texts/' | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>0.9</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.origin }}{{ '/by-figure/' | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>0.9</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.origin }}{{ '/search/' | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>0.7</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.origin }}{{ '/updates/' | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>0.7</priority>
    <changefreq>weekly</changefreq>
  </url>

  {# Language category pages #}
  {% for langSlug in ["hebrew", "slavic", "aramaic", "arabic", "geez", "armenian", "latin"] %}
  <url>
    <loc>{{ site.origin }}{{ ('/texts/' + langSlug + '/') | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>0.8</priority>
    <changefreq>weekly</changefreq>
  </url>
  {% endfor %}

  {# By-figure pages #}
  {% for figSlug in ["abraham", "daniel", "enoch", "zerubbabel", "talmidei-yeshua"] %}
  <url>
    <loc>{{ site.origin }}{{ ('/by-figure/' + figSlug + '/') | url }}</loc>
    <lastmod>2025-11-21</lastmod>
    <priority>0.8</priority>
    <changefreq>monthly</changefreq>
  </url>
  {% endfor %}
  
  {# All text pages #}
  {% for item in collections.all %}
    {% if item.data.tags and item.data.tags.includes("texts") %}
    <url>
      <loc>{{ site.origin }}{{ item.url | url }}</loc>
      <lastmod>2025-11-21</lastmod>
      <priority>{% if item.data.pageNumber == 0 %}0.8{% else %}0.7{% endif %}</priority>
      <changefreq>monthly</changefreq>
    </url>
    {% endif %}
  {% endfor %}
</urlset>
